.div {
  width: 90%;
}
.h {
  margin: 0px;
  width: 50%;
  color: #fff;
  font-size: 100px;
  position: relative;
  top: 90px;
  left: 25%;
}
.image {
  border-radius: 100px; /*角を丸くする*/
  margin: auto;
  border: 15px solid #fff;
  position: relative;
  right: 15px;
  height: 300px;
}
