.top {
  position: relative;
  margin: auto;
}

.image {
  width: 100%; /* 親要素に合わせる */
  height: 250px; /* 高さは自動調整 */
  max-width: 1000px;
  border-radius: 80px; /* 角を丸くする */
  border: 15px solid #fff;
  margin: auto;
}

.h {
  position: absolute;
  font-size: 100px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
