.main {
  display: flex;
  margin-top: 0%;
  margin-bottom: 50px;
}

.topDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top {
  position: relative;
  width: 95%;
  text-align: center;
}

.topImage {
  border-radius: 50px;
  margin: auto;
  height: 88%;
}

.topTitle {
  position: absolute;
  font-size: 180px;
  color: #fff;
  top: 78%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}
