.main {
  display: flex;
  margin-top: 0%;
  margin-bottom: 50px;
}

.topDiv {
  /* margin: 0 auto; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.top {
  position: relative;
  width: 95%;
  text-align: center;
}

.topImage {
  border-radius: 50px;
  margin: auto;
}

.topTitle {
  position: absolute;
  font-size: 190px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
