/*--画面の2分割--*/
.sec2 {
  border-radius: 50px 50px 0px 0px; /*角を丸くする*/
  background-color: #f79fcb;
  padding: 20px 40px 40px 0px;
  margin-top: 80px;
}
.sec2contents {
  display: flex;
  margin-top: 76px;
}

.sec2article {
  width: 75%;
  background-color: #f79fcb;
}
.sec2aside {
  text-align: center;
  width: 25%;
}

.tab button {
  float: left;
  position: relative;
  left: 400px;
  top: 16px;
  border-radius: 100px 100px 0px 0px;
  font-size: 20px;
  font-weight: bold;
  color: #ffd5eb;
  width: 110px;
  padding: 15px 20px;
  background: #ff6ebb;
  text-align: ;
}
.tab button:hover {
  background: #ff8ac8;
  color: #fff;
}
.current {
  background: #ffd1e9 !important;
  color: #333 !important;
}

.spots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffd1e9;
  border-radius: 20px;
}

.spot {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: #f79fcb solid 3px;
  background-color: #fff;
  border-radius: 20px;
}
